.cardbox {
  width: 400px;
  height: 100px;
  border: 2px solid rgb(113, 113, 113);
  border-radius: 10px;
  font-size: 24px;
  color: #252B36;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  margin-top: -15px;
  background: white;
}

text {
  user-select: none;
}

.boxtext {
  display: contents;
}