.App {
  text-align: center;
  background: white;
  min-height: 100vh;
}

a {
  font-weight: bold;
  margin: 5px;
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.link-wrapper{
  text-align: right;
  background-color: cornflowerblue;
}